@font-face {
  font-family: 'rubik-medium';
  src: url(./Rubik/static/Rubik-Medium.ttf);
}

@font-face {
  font-family: 'rubik-bold';
  src: url(./Rubik/static/Rubik-Bold.ttf);
}

@font-face {
  font-family: 'rubik-regular';
  src: url(./Rubik/static/Rubik-Regular.ttf);
}

.header, .info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  padding-bottom: 130px;
  padding-top: 10px;
  background-image: url(images/pattern-bg.png);
  background-repeat: repeat;
  margin: 0 auto;
}

.header h1 {
  font-family: 'rubik-medium';
  color: white;
  font-size: 1.5rem;
}

.header form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: white;
  border-radius: 15px;
}

.header form #userInput {
  height: 58px;
  border-radius: 15px;
  border: none;
  width: 80vw;
  max-width: 500px;
  padding-left: 20px;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.header form #submitButton {
  height: 60px;
  width: 60px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: black;
  color: black;
  border: none;
  cursor: pointer;
  background-image: url(images/icon-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.header #error {
  margin-top: 5px;
  margin-bottom: 50px;
  font-family: 'rubik-medium';
  color: #EF4877;
}

.info-container {
  position: absolute;
  top: 170px;
  width: 90%;
  max-width: 1100px;
  -webkit-box-shadow: 0px 50px 50px -25px rgba(0, 0, 0, 0.1984);
          box-shadow: 0px 50px 50px -25px rgba(0, 0, 0, 0.1984);
  border-radius: 15px;
  background-color: white;
  text-align: center;
  margin: 0 auto;
  z-index: 3000;
}

.info-container p {
  font-family: 'rubik-medium';
  font-size: 0.6rem;
  color: #5c5a5a;
  letter-spacing: 1.46px;
}

.info-container .value {
  font-family: 'rubik-medium';
  font-size: 1rem;
  margin-top: -5px;
}

#mapid {
  height: 73vh;
}

@media all and (min-width: 1000px) {
  .info-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 -40px;
    padding-bottom: 50px;
  }
  .info-container .info {
    padding: 0 40px;
    padding-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
  }
  hr {
    width: 10px;
    border: 2px solid black;
  }
}
/*# sourceMappingURL=style.css.map */