@font-face{
    font-family: 'rubik-medium';
    src: url(./Rubik/static/Rubik-Medium.ttf);
}
@font-face{
    font-family: 'rubik-bold';
    src: url(./Rubik/static/Rubik-Bold.ttf);
}
@font-face{
    font-family: 'rubik-regular';
    src: url(./Rubik/static/Rubik-Regular.ttf);
}

%col-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header {
    background-image: url(images/pattern-bg.png);
    background-repeat:repeat-x;
    @extend %col-flex;
    margin: 0 auto;
    // padding-bottom: 150px;
    h1 {
        font-family: 'rubik-medium';
        color: white;
    }
    #userInput {
        height: 58px;
        border-radius: 15px;
        border: none;
        width: 80vw;
        max-width: 500px;
        padding-left: 20px;
    }
    #submitButton {
        height: 58px;
        border-radius: 15px;
        border: none;
    }
}

.info-container {
    border: 2px solid black;
    box-shadow: 0px 50px 50px -25px rgba(0,0,0,0.0984);
    @extend %col-flex;
    text-align: center;
    // margin: 0 auto;
    p {
        font-family: 'rubik-bold';
    }
    .value {
        font-family: 'rubik-medium';
    }
}

#mapid {
    height: 500px;
}